{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Trade Direction</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Date and Time</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
                <tr>
                    <td class="text-start">{{entry.symbol}}</td>
                    <td class="text-end">{{entry.direction}}</td>
                    <td class="text-end">{{entry.quantity}}</td>
                    <td class="text-end">{{entry.price | usd}}</td>
                    <td class="text-end">{{entry.date_time}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
