{% extends "layout.html" %}

{% block title %}
    Manage Account
{% endblock %}

{% block main %}
    <form action="/manage" method="post">
        <div class=mb-3>
            <select name="direction" class="form-control mx-auto w-auto">
                <option selected value="deposit">Deposit</option>
                <option value="withdraw">Withdraw</option>
            </select>
        </div>
        <div class="mb-3">
            <input name="amount" class="form-control mx-auto w-auto" type="number" min="0" placeholder="Amount $">
        </div>
        <button class="btn btn-primary" type="submit">Withdraw/deposit</button>
    </form>
{% endblock %}
